body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    /* background-color: skyblue; */
    background-image: url("./flappybirdbg.png");
}

#startBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  padding: 12px 30px;
  border: none;
  border-radius: 12px;
  background-color: #ffcc00;
  color: black;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  visibility: visible;
}
#startBtn:hover {
  background-color: #ffdd33;
}
#leaderboard {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    width: 180px;
}
#leaderboardlist{
  font-size: 23px;
}
