body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    /* background-color: skyblue; */
    background-image: url("./flappybirdbg.png");
}

#startBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  padding: 12px 30px;
  border: none;
  border-radius: 12px;
  background-color: #ffcc00;
  color: black;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  visibility: visible;
}
#startBtn:hover {
  background-color: #ffdd33;
}
